



<main id="game-landing-pg">

   <nav class="navbar">
        <a class="navbar-brand" href="#">GIF-LASH</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
        </ul>
   </nav>
   
    <section id="main-window" class="container-fluid">
      
       
    </section>

</main>

<footer class="footer">
         <p class="footer-text">© Copyright</p>
</footer>


<script src="socket.io/socket.io.js"></script>
<script src="/scripts.js"></script>
<script src="/joinNs.js"></script>
<script src="/searchState.js"></script>
<script src="/votingState.js"></script>
<script src="/outcomeState.js"></script>